body{
    background-color:#0D1B2A;
    margin: 0;
    /* font-family: "Montserrat", "Avenir"; */
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    line-height: 1.1;
    text-align: center;
    margin: 0;
    background-color: #9D6A89;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#colourDisplay {
    font-size: 200%;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: background 0.6s;
    /* ---browser optimisation--- */
    --webkit-transition: background 0.6s;
    --moz-transition: background 0.6s;
} 

#container {
    margin: 20px auto;
    max-width: 600px;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align:center;
}

.selected {
    color: white;
    background: #9D6A89;

}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: #9D6A89;
    outline: none;
    transition: all 0.3s; 
    --webkit-transition: all 0.3s;
    --moz-transition: all 0.3s;
}

#message {
    display: inline-block;
    width: 20%;
}

button:hover{
    color: white;
    background: #9D6A89;
}


