body{
    background-color:#232323;
    color: white;
}
.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
} 
#container {
    margin: 0 auto;
    max-width: 600px;
}
